@import url('http://fonts.cdnfonts.com/css/data-control');
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.App {
  font-size: 30px;
  font-family: 'Data Control', sans-serif;
  align-items: center;
}

button {
  font-family: 'Data Control', sans-serif;
  font-size: 25px;
  border: 2px solid;
  background-color: #fff;
}

.timetravel {
  font-family: 'Data Control', sans-serif;;
  font-size: 25px;
  border: none;
  background-color: #fff;

}

li {
  list-style-type: none;
}

p {
  font-family: 'Data Control', sans-serif;
  font-size: 30px;
}

h1 {
  font-family: 'Data Control', sans-serif;
  text-align: center;
  font-size: 40px;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
